<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>get 방식 테스트 요청 페이지</title>
<style>
	ul {
		list-style: none;
		line-height: 200%; /*줄 간격*/
	}
</style>
</head>
<body>
	<!--2021.12.29(수) 16h-->
	<h1>get 방식으로 요청 후 응답 페이지 받아보기</h1>
	
	<p>
		특징1. get 방식으로 요청하는 건 url의 header 영역에 데이터를 포함시켜서 요청함 -> 사용자가 입력한 값/데이터가 url에 노출됨 -> 보안에 취약함 -> 로그인, 회원 가입 등의 경우 get 방식은 부적합함<br>
		<!--2022.1.11(화) 나의 질문 = url의 header가 무엇이지?-->
		특징2. header 영역은 전송하는 데이터의 길이에 제한이 있음 -> 방대한 데이터를 담았을 경우 초과된 데이터는 절단되어/잘려서 넘어감 -> 게시판 작성 등의 경우 get 방식은 부적합함<br>
		특징3/장점. url 데이터가 노출되기 때문에 즐겨찾기/bookmark 기능(url을 저장/즐겨찾기 해두었다가, 필요할 때 클릭하면 해당 그 url 재요청/이동 가능) -> 검색 기능의 경우 get 방식이 가장 적합함
	</p>
	
	<h2>개인 정보 입력_get 방식</h2>
	<p>개인 정보를 입력해주세요 + 입력 확인 후, 버튼을 눌러주세요</p>
	<!--form 태그 내의 제출(submit) 버튼 클릭 시, form 태그의 속성 중 action에 작성된 url(=요청할 Servlet에 mapping할 값)로 요청/제출됨 = controller(Servlet) 호출
		Servlet 요청의 경우, 반드시 그 요청 값이 현재 웹 어플리케이션의  context path(/context root/ 뒤에 붙는 경로) 형식으로 지정해줘야 함 e.g. http://localhost:8888/1_Servlet/test1.do(Servlet의 url mapping 값)
		
		경로 지정 방식
		1. 절대 경로 방식(/로, 또는 더 엄밀히 말하자면 root부터, 시작): /context root/요청할 url 
		2. 상대 경로 방식(test1.do): 요청할 url; 나를 기준으로-->
	
	<form action="/1_Servlet/test1.do" method="get"> <!--절대 경로 방식; 내가 요청을 보낼 서버 = 서버에 mapping할 url mapping 값; 1_Servlet라는 어플리케이션에 test1.do라는 이름으로 html 문서/웹 브라우저로부터 요청을 보냄 -> 이 요청을 처리할 controller/Servlet이 필요함-->
		<ul>
			<li>
				이름: <input type="text" name="name"> <!--form 태그로부터 넘길 자료 = key(name 속성의 값) + value(value 속성의 값)-->
			</li>
			
			<li>
				성별:
				남자<input type="radio" name="gender" value="M">
				여자<input type="radio" name="gender" value="F">
			</li>
			
			<li>
				나이: <input type="number" name="age">
			</li>
			
			<li>
				사는 도시:
				<select name="city">
					<option>서울시</option>
					<option>경기도</option>
					<option>강원도</option>
					<option>충청도</option>
					<option>전라도</option>
					<option>경상도</option>
					<option>제주도</option>
				</select>
			</li>
			
			<li>
				키: <input type="range" name="height" min="140" max="200">			
			</li>
			
			<li>
				좋아하는 음식(모두 고르세요):
				한식<input type="checkbox" name="food" value="한식">
				일식<input type="checkbox" name="food" value="일식">
				중식<input type="checkbox" name="food" value="중식">
				양식<input type="checkbox" name="food" value="양식">
				분식<input type="checkbox" name="food" value="분식">
				간식<input type="checkbox" name="food" value="간식">
				조식<input type="checkbox" name="food" value="조식">
			</li>
			
			<li>
				<input type="submit"> <!--17h 제출 버튼을 누름 = 요청을 보냄 -> 현재 Servlet 안 만들었기 때문에 응답해줄 페이지/controller가 없는 바, 404 error-->
				<input type="reset">			
			</li>
		</ul>	
	</form>
</body>
</html>